---
nosidebar: true
css: home
title: UGSDW | Union of Grinnell Student Dining Workers
---
<!-- IMAGE BANNER AT TOP OF PAGE.
     URL of image is found is css/home.sass 
     You can also just replace "front-image.jpg" in the assets/ folder. -->
<section class="first-block">
    <span>{{ site.data.home.banner.text | smartify | replace: ' ', '&nbsp;' }}</span>
        <div class="banner-buttons">
            {% for button in site.data.home.banner.buttons %}
                {% if button.accent %}
                    <a id="accent" class="button" href="{{ button.link }}">{{ button.name }}</a>
                {% else %}
                    <a id="normal" class="button" href="{{ button.link }}">{{ button.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
</section>

<!-- NEWS -->
<section class="latest-block">
    <h1>{{ site.data.home.news.text }}</h1>
    <div class="post-container">
        {% for post in site.posts limit: site.data.home.news.max-articles %}
        <a href="{{ post.url }}">
            <article>
                <div class="img-wrapper">
                    {% assign images = post.content | split:'img ' %} 
                    {% for image in images %}
                        {% if image contains 'src' %}
                            {% assign html = image | split:"/>" | first %}
                            <img loading="lazy" {{ html  }} />
                            {% break %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="content-wrapper">
                    <h2>
                        {{ post.title | smartify }}
                    </h2>
                    <h3>
                        {{ post.subtitle | smartify }}
                    </h3>
                </div>
            </article>
        </a>
        {% endfor %}

    </div>

    <div style="text-align: center; margin-top: 2em">
        {% for button in site.data.home.news.buttons %}
            <a class="button" href="{{ button.link }}">{{ button.name }}</a>
        {% endfor %}
    </div>
</section>

<!-- BENEFITS TO JOINING UGSDW -->
<section class="benefits-block">
    <h1>THE UNION DIFFERENCE</h1>
    <div class="accomplishments">
        {% for item in site.data.home.benefits %}
            <div class="item">
                {% if item.type == "big" %}
                    <span class="big">{{ item.big-text }}</span>
                    <span class="desc">{{ item.subtext }}</span>
                {% elsif item.type == "medium" %}
                    <span class="medium">{{ item.big-text }}</span>
                    <span class="desc">{{ item.subtext }}</span>
                {% else %}
                    {{ item.text }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>

<!-- JOINING SECTION -->
<section class="join-block">
    <div class="text-wrapper">
        <span class="membership-count">{{ site.data.home.join.member-count }}</span>
        <span class="text">Of your fellow students are members.</span>
    </div>
    <a class="join-button button" href="{{ site.data.home.join.button-link }}">JOIN THEM</a>
</section>

<!-- MEMBER RESOURCES -->
<section class="members-block">
    <h1>MEMBER RESOURCES</h1>
    <div class="resources">
        {% for item in site.data.home.resources %}
            <a class="button" href="{{ item.link }}">{{ item.name }}</a>
        {% endfor %}
    </div>
</section>
